# Build & Binary artifacts
build/bin/
*.exe
mixko

# Frontend
frontend/dist/
frontend/dist-test/
frontend/node_modules/

# Local data & Keys
.secret.key
session.key
session.key.dpapi
*.sqlite
*.sqlite-wal
*.sqlite-shm
nppBackup/
